extends layout

block content
  div#overlay(class="loading-overlay") Exporting products...
  h1= title
  p Welcome to #{title}
  p
      button(onClick="newExport('"+ store_details.store_hash +"')") Export new feed

  select#hour
    -for (var x = 0; x < 24; x++)
        option(selected= store_details.hour == x)=x

  select#min
    -for (var x = 0; x < 60; x = x + 5)
        option(selected= store_details.min == x)=x

  div
     input(type="submit", value="Update schedule time", onClick="updateTime()")



  div(class="feed-url")
     p='http://localhost:8000/' + store_details.feed_url
